*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.nav-logo{
	display: inline;
}

nav ul{
	padding: 0.8rem;
	position: sticky;
	margin-bottom: 2rem;
	list-style-type: none;
	top: 10px;
	bottom: 10px;
	background-color: white;
}
.nav{
	display: inline;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
}

.right-nav{
	display: inline;
	float: right;
}

nav{
	display: inline;
}


.tuitt-button {
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 50px;
	padding: 10px;
}

.front-bg{
	min-height: 20rem;
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: scroll;
}

.container{
	background-color: rgba(0, 0, 0, 0.5);
	min-height: 20rem;
	color: white;
	text-align: right;
	padding-left: 50%;
	padding-right: 4rem;
}

.title{
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2.5rem;
	padding-bottom: 1rem;
}
.subtitle{
	padding-left: 50%;
	font-size: 0.8rem;
	padding-bottom: 1rem;
}

.apply-button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.title-2{
	font-family: 'Zilla Slab', sans-serif;
	font-size: 2rem;
	padding: 5rem;
	text-align: center;
}
.intro{
	margin-bottom: 5rem;
}

.intro-description{
	padding-left: 10%;
	padding-right: 10%;
}

.prefooter-description{
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;	
	padding-bottom: 1rem;
}

.pre-footer{
	background-color: rgba(0, 0, 0, 0.05);
	min-height: 20rem;
	text-align: center;
	padding-bottom: 5rem;
}

.book-button{
	background-color: #336589;
	color: white;
	border: 0;
	border-radius: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-weight: bold;
}

footer{
	text-align: center;
}